In [82]:
import seaborn as sns 
import pandas as pd 
import numpy as np 


df = sns.load_dataset('mpg')

# filter the data frame for only europe cars - which is the most popular number of cylinders?  
# what is the most popular number of cylinders for usa cars? 

# show the data types for each column 
# convert the float columns to integers 

# return a data frame with the model year origin and name of the car with the highest mpg 

# which is the model and name of the car with the lowest mpg 

# multiple two numerical columns together and assign it to a new column 

# what is the most recent year the ford pinto was made? 



# BONUUS : find, download and read in a data set of your own choosing and manipulate using pandas

In [83]:
df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii

In [84]:
# filter the data frame for only europe cars - which is the most popular number of cylinders?  
df[df['origin'] == 'europe']['cylinders'].value_counts()

4    63
6     4
5     3
Name: cylinders, dtype: int64

In [85]:
# what is the most popular number of cylinders for usa cars? 
df[df['origin'] == 'usa']['cylinders'].value_counts()

8    103
6     74
4     72
Name: cylinders, dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [89]:
# show the data types for each column 
# df.info()
# convert the float columns to integers
conv = ['mpg','displacement','horsepower','acceleration']
df.dropna(inplace=True)

for x in conv:
    df[x] = df[x].astype(int)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    int64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    int64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    int64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: int64(7), object(2)
memory usage: 30.6+ KB

In [91]:
# return a data frame with the model year origin and name of the car with the highest mpg 

df[df['mpg'] == df['mpg'].max()].loc[:,('mpg','model_year','origin','name')]

     mpg  model_year origin       name
322   46          80  japan  mazda glc

In [92]:
# which is the model and name of the car with the lowest mpg 
df[df['mpg'] == df['mpg'].min()].loc[:,('mpg','model_year','origin','name')]

    mpg  model_year origin      name
28    9          70    usa  hi 1200d

In [93]:
# multiple two numerical columns together and assign it to a new column 
# force = mass * acceleration
# mass = weigth / 9.81


df['force'] = (df['weight']/9.81) * df['acceleration']
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,force
0,18,8,307,130,3504,12,70,usa,chevrolet chevelle malibu,4286.238532
1,15,8,350,165,3693,11,70,usa,buick skylark 320,4140.978593
2,18,8,318,150,3436,11,70,usa,plymouth satellite,3852.803262
3,16,8,304,150,3433,12,70,usa,amc rebel sst,4199.388379
4,17,8,302,140,3449,10,70,usa,ford torino,3515.800204