# Phase 1 Code Challenge Review

![let's do this](https://media.giphy.com/media/12WPxqBJAwOuIM/giphy.gif)

The topics covered will be:

  - [Interacting with Pandas dataframes](#dataframes)
  - [Visualization](#viz)
  - [Python Data Structures](#datastructures)

<a id='dataframes'></a>
# Part 1: Interacting with Pandas DataFrames

To practice working with dataframes, we will use some Facebook data taken from the UCI Machine Learning repository.

Refer to this paper if you are interested in learning more. There is also a nice description of the features: http://www.math-evry.cnrs.fr/_media/members/aguilloux/enseignements/m1mint/moro2016.pdf

In [3]:
# Before anything else - need to import pandas!
import pandas as pd

## Task 1: Read in the data

In [11]:
# Can explore the data folder within your notebook

df = pd.read_csv('data/dataset_Facebook.csv', delimiter=";")

In [22]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

Read 'dataset_Facebook.csv' from the data foldeer into the notebook as a Pandas dataframe.

Note: we'll need to set a different delimiter here - let's read the data in, then explain what that means.

## Task 2: Explore the data

### 2a: Look at the first five rows of the dataframe, then the last ten rows

In [25]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [26]:
# Your code here
df.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

### 2b: Look at the information for each column in the dataframe, then describe what you notice

In [32]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

What do you notice?

- There are 19 columns in total, most of them are in numberical format. 500 entries. Some of them are missing data.
- Lifetime Post Total Reach, like, share are missing a few entries.

### 2c: Describe the dataframe's numeric columns, then describe what you notice

In [36]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [37]:
# Your code here
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.00000,500.00000,500.00000,500.00000,500.00000,499.00000,500.00000,500.00000,500.00000,500.00000,500.00000,500.00000,500.00000,500.00000,500.00000,499.00000,496.00000,500.00000
mean,123194.17600,1.88000,7.03800,4.15000,7.84000,0.27856,13903.36000,29585.94800,920.34400,798.77200,1415.13000,16766.37600,6585.48800,609.98600,7.48200,177.94589,27.26613,212.12000
std,16272.81321,0.85267,3.30794,2.03070,4.36859,0.44874,22740.78789,76803.24667,985.01664,882.50501,2000.59412,59791.02373,7682.00941,612.72562,21.18091,323.39874,42.61329,380.23312
min,81370.00000,1.00000,1.00000,1.00000,1.00000,0.00000,238.00000,570.00000,9.00000,9.00000,9.00000,567.00000,236.00000,9.00000,0.00000,0.00000,0.00000,0.00000
25%,112676.00000,1.00000,4.00000,2.00000,3.00000,0.00000,3315.00000,5694.75000,393.75000,332.50000,509.25000,3969.75000,2181.50000,291.00000,1.00000,56.50000,10.00000,71.00000
50%,129600.00000,2.00000,7.00000,4.00000,9.00000,0.00000,5281.00000,9051.00000,625.50000,551.50000,851.00000,6255.50000,3417.00000,412.00000,3.00000,101.00000,19.00000,123.50000
75%,136393.00000,3.00000,10.00000,6.00000,11.00000,1.00000,13168.00000,22085.50000,1062.00000,955.50000,1463.00000,14860.50000,7989.00000,656.25000,7.00000,187.50000,32.25000,228.50000
max,139441.00000,3.00000,12.00000,7.00000,23.00000,1.00000,180480.00000,1110282.00000,11452.00000,11328.00000,19779.00000,1107833.00000,51456.00000,4376.00000,372.00000,5172.00000,790.00000,6334.00000

What do you notice?

-

## Task 3: Explore null values

### 3a: Count how many null values there are in each column

In [35]:
"""There are 1 null in Lifetime Post Total Reach, 1 null in like, and 4 null in share"""

'There are 1 null in Lifetime Post Total Reach, 1 null in like, and 4 null in share'

In [43]:
# Your code here
df.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

### 3b: What are some of the things we could do to deal with null values?

Answer:

- replace them, or drop them

### 3c: Drop records that have null values in the `share` column

In [ ]:
# Your code here

## Task 4: Create a column

An "impression" counts each time a post is displayed.  

Create a new column called `likes_per_impression` which divides the number of likes per post by the number of impressions per post.

In [ ]:
# Your code here

## Task 5: Multiply `likes_per_impression` by 100 so they look like percentages

Make a new column for this, `likes_per_impression_perc`, to capture this output.

In [ ]:
# Your code here

## Task 6: How many examples of each type of post?

I'm seeing a lot of posts with the type of 'Photo' - are there other post types, and what's the breakdown?

In [ ]:
# Your code here

In [ ]:
# Can also look at the percentages

## Task 7: Find the five Photos with the highest likes/impression ratio

Find the five **Photos** with the highest number in our new `likes_per_impression_perc` column

In [ ]:
# Your code here

## Task 8: Find the most liked Photo

Locate the **Photo** that has the largest amount of likes in the `like` column

In [ ]:
# Your code here

## Task 9: Find the average

What is the mean number of Total Interactions for **Photos**?

In [ ]:
# Your code here

<a id='viz'></a>
# Part 2: Visualization

In [ ]:
# Need more imports!

## Task 10: Bar Chart

Create a bar chart showing the number of posts per month.

Order the x-axis by month as they appear on the calendar.

Don't forget to add labels and a title.  

Use the `plt.subplot` method if you can, but if you can't, resort to the `plt` syntax.

In [ ]:
# Your code here
# First need to access the number of posts per month

In [ ]:
# Your code here
# Now need to visualize

Let's discuss: what do you notice?

-

## Task 11: Scatter Plot

Create a scatter plot that shows the correlation between total interactions and likes.

In [ ]:
# Your code here

Let's discuss: what do you notice?

-

<a id='datastructures'></a>
# Part 3: Data Structures

For this next section, we will explore a nested dictionary that comes from the Spotify API.  You won't need to do these kinds of imports and opens on the code challenge, so I'll go ahead and share the code to get started here.

The `data` variable below contains 6 separate pings, each of which returns a list of the top 20 songs streamed on a given day.

In [ ]:
# First we need some imports
import json
import pickle

In [ ]:
# Let's open the pickled file
with open('data/offset_newreleases.p','rb') as read_file:
    responses = pickle.load(read_file)

In [ ]:
data = [json.loads(r) for r in responses]

In [ ]:
# Sanity check - we said there would be 6 pings, are there?
len(data)

We will work only with the first response.

In [ ]:
first_response = data[0]

In [ ]:
first_response

## Task 12: Navigate the dictionary

Explore the `first_response` dictionary and find how to access the items list, which contains the details about the twenty songs. Assign the list to the variable `first_twenty_songs`.

Hint: print out the keys at each level with .keys().

In [ ]:
# Your code here

## Task 13: Loop to List

Create a list of **track names** of all twenty songs using a for loop or list comprehension.

In [ ]:
# Your code here

## Task 14: Create a new dictionary

Create a dictionary called `song_dictionary` which consists of each track name `string` as a key and a `tuple` of artists associated with each track as a value.

In [ ]:
# Your code here:

## Task 15: Write a function

Create a function with takes an **artist name** and the **song_dictionary** as arguments, and returns a `list` of songs written by that artist.

In [ ]:
# Easier to do things outside of a function first
# Let's try for The Weeknd

In [ ]:
# Your code here

def find_song_by_artist(artist_name, song_dict):
    
    '''
    Parameters:
    arist_name: a string of an artist's name to be used to search the dictionary
    song_dict:  a dictionary of top_twenty songs with song name as keys and a list of 
    artist names as values
    
    Returns:
    A list of songs which the given artist appeared on
    '''
    
    pass

In [ ]:
# Test the function:
find_song_by_artist('Selena Gomez', song_dictionary)