In [1]:
import seaborn as sns 
import pandas as pd 
import numpy as np 


df = sns.load_dataset('mpg')

# filter the data frame for only europe cars - which is the most popular number of cylinders?  
# what is the most popular number of cylinders for usa cars? 

# show the data types for each column 
# convert the float columns to integers 

# return a data frame with the model year origin and name of the car with the highest mpg 

# which is the model and name of the car with the lowest mpg 

# multiple two numerical columns together and assign it to a new column 

# what is the most recent year the ford pinto was made? 



# BONUUS : find, download and read in a data set of your own choosing and manipulate using pandas

In [7]:
df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
356,32.4,4,108.0,75.0,2350,16.8,81,japan,toyota corolla

In [4]:
# filter the data frame for only europe cars - which is the most popular number of cylinders?  
df[df['origin'] == 'europe']['cylinders'].value_counts()

4    63
6     4
5     3
Name: cylinders, dtype: int64

In [5]:
# what is the most popular number of cylinders for usa cars? 
df[df['origin'] == 'usa']['cylinders'].value_counts()

8    103
6     74
4     72
Name: cylinders, dtype: int64

In [6]:
# show the data types for each column 
df.info()
# convert the float columns to integers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB